.App {
  min-height: 100vh;
  background: rgb(134,119,100);
  background: linear-gradient(90deg, rgba(134,119,100,1) 0%, rgba(68,46,33,1) 100%);  
}

.page-title {
  text-align: center;
  color: #791009;
}

.search-form {
  min-height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-bar {
  width: 50%;
  border: none;
  border-radius: 8px;
  padding: 10px;
}

.search-button {
  background: #ffebbc;
  border: #feaf00;
  border-radius: 10px;
  border-width: 2px;
  padding: 10px 20px;
  color: #791009;
}

.recipes {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}